.container {
  max-width: 1170px;
  margin: auto;
  padding: 48px;
}

.title {
  font-size: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-bottom: 2em;
  text-decoration: none;
  color: inherit;
  box-shadow: none;
}

.image {
  height: 150px;
  width: 150px;
  margin-bottom: 0;
  border-radius: 50%;
}

.name {
  margin: 0;
  margin-top: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
}


@media (max-width: 900px) {
  .title {
    font-size: 1.5em;
    text-align: center;
  }

  .item {
    width: 33.33%;
  }

  .image {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 500px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .item {
    width: 50%;
  }
}
